<div class="hero">
  <h1 class="display-4">Welcome to the Burger Shop!</h1>
  <p class="lead">Ready to eat some delicious burgers?</p>
  <br>
  <img class="jumboPic" src="./assets/images/welcome.gif" alt="Welcome Gif">
<div class="gif-container">
    <img class="createdBurgerImg" src="./assets/images/created-burger.gif" alt="New Burger">
</div>
<div class="gif-container2">
    <img class="devouredBurgerImg" src="./assets/images/devoured-burger.gif" alt="Devoured Burger">
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
        <p class="createdBurger">Created Burgers:</p>
        <ul>
            {{#each burgers}}
            <li class="addedBurgers">
                <p>
                    {{this.id}}. {{this.burger_name}}

                    <button data-burgerid="{{this.id}}" class="devourBurger">Devour</button>
                </p>
            </li>
            {{/each}}
        </ul>
        </div>

        <div class="col-lg-6">
            
        </div>
    </div>
</div>


<h2>Add a Burger you'd like to eat!</h2>
<form>
    <div class="form-group">
    <input type="text" class="form-control" id="newBurger" name="addNewBurger">
    <small id="burgerInstructions" class="form-text text-muted">Enter in the name of the Burger you'd like to eat!</small>
  </div>
  <button type="submit" class="btn btn-primary" id="addBurgerBtn">Add Burger</button>
</form>

</div>