<h1>Welcome to the Burger Shop!</h1>

<ul>
    {{#each burgers}}
    <li>
        <p>
            {{this.id}}. {{this.burger_name}}

            <button data-burgerid="{{this.id}}" class="devourBurger">Devour</button>
        </p>
    </li>
    {{/each}}
</ul>

<h2>Add a Burger you'd like to eat!</h2>
<form>
    <div class="form-group">
    <label for="newBurger">New Burger</label>
    <input type="burger" class="form-control" id="newBurger" aria-describedby="addNewBurger">
    <small id="burgerInstructions" class="form-text text-muted">Enter in the name of the Burger you'd like to eat!</small>
  </div>
  <button type="submit" class="btn btn-primary" id="addBurgerBtn">Add Burger</button>
</form>