.hero{
    background-image: url(../images/background-image.jpg);
    width: 100%;
    height: 1500px;
    background-size: cover;
    background-position: center;
}
.display-4, .lead{
    text-align: center;
    color: black;
}
.createdBurger{
    font-size: 24px;
    color: black;
}
ul{
    list-style-type: none;
}
.addedBurgers{
    padding: 5px;
    color: black;
}
.formBackground{
    margin-left: 50px;
    margin-right: 50px;
    background-color: red;
    border-radius: 15px;
}
.formHeader{
    text-align: center;
    color: black;
}
.form-group{
    margin: 30px;
}
.form-text, .text-muted{
    text-align: center;
    color: black;
}
#addBurgerBtn{
    background-color: white;
    color: red;
    border-style: solid;
    border-color: black;
}